.issueTable {
  width: 100%;
  max-height: calc(100% - 88px);
  flex-grow: 1;
}

.issueCategory {
  width: calc(100% / 3);
}

.issues {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
  background-color: grey;
  width: 100%;
  padding: 15px 8px 15px 15px;
  overflow-y: auto;
}

.issue {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
