.issueCategory {
  width: calc(100% / 3);
}
.title {
  padding: 7px 0;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  font-weight: 600;
}
.issues {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
  background-color: grey;
  width: 100%;
  padding: 15px 8px 15px 15px;
  overflow-y: auto;
}
