.issueCategory {
  width: calc(100% / 3);
  border-radius: 10px;
  overflow: hidden;
}
.title {
  padding: 7px 0;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  font-weight: 600;
}
.issues {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
  background-color: #efefef;
  width: 100%;
  padding: 15px;
  overflow-y: auto;
}
.dragged {
  background-color: #dedede;
}
